<!DOCTYPE html>
<html
        lang="en"
        class="light-style customizer-hide"
        dir="ltr"
        data-theme="theme-default"
        data-template="vertical-menu-template-free"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Tea Loza</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/lib/fonts/boxicons.css"/>
    <!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->

    <!-- Core CSS -->
    <link rel="stylesheet" href="/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/css/theme-default.css" class="template-customizer-theme-css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/lib/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/css/vendors/buttons.bootstrap4.css"/>
    <link rel="stylesheet" href="/css/vendors/dataTables.bootstrap4.css"/>
    <link rel="stylesheet" href="/css/vendors/select.bootstrap4.css"/>
    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/css/pages/page-auth.css"/>
    <link rel="stylesheet" href="/css/pages/page-ticket.css"/>
    <!--    <link rel="stylesheet" href="/css/icons.min.css">-->
    <!--    <link rel="stylesheet" href="/css/pages/page-datatable.css">-->
    <!-- Helpers -->
    <script src="/js/admin/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/js/admin/config.js"></script>
</head>
<body>
<!-- BEGIN: Content-->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <%- include('../../partials/admin/menubar.ejs', { active: 'feedbacks', sub: '' }) %>
        <div class="layout-page">
            <!-- Navbar -->

            <nav
                    class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar"
            >
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <!-- Search -->
                    <div class="navbar-nav align-items-center">
                        <div class="nav-item d-flex align-items-center">
                            <i class="bx bx-search fs-4 lh-0"></i>
                            <input
                                    type="text"
                                    class="form-control border-0 shadow-none"
                                    placeholder="Search..."
                                    aria-label="Search..."
                            />
                        </div>
                    </div>
                    <!-- /Search -->

                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <!-- Place this tag where you want the button to render. -->
                        <li class="nav-item lh-1 me-3">
                            <a
                                    class="github-button"
                                    href="https://github.com/themeselection/sneat-html-admin-template-free"
                                    data-icon="octicon-star"
                                    data-size="large"
                                    data-show-count="true"
                                    aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                            >Star</a
                            >
                        </li>

                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a
                                    class="nav-link dropdown-toggle hide-arrow"
                                    href="javascript:void(0);"
                                    data-bs-toggle="dropdown"
                            >
                                <div class="avatar avatar-online">
                                    <img src="<%= user.avatar %>" alt class="w-px-40 h-auto rounded-circle"/>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img
                                                            src="<%= user.avatar %>"
                                                            alt
                                                            class="w-px-40 h-auto rounded-circle"
                                                    />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
														<span class="fw-semibold d-block"
                                                        ><%= user.name || user.email %></span
                                                        >
                                                <small class="text-muted"><%= user.role %></small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bx bx-cog me-2"></i>
                                        <span class="align-middle">Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
												<span class="d-flex align-items-center align-middle">
													<i class="flex-shrink-0 bx bx-credit-card me-2"></i>
													<span class="flex-grow-1 align-middle">Billing</span>
													<span
                                                            class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20"
                                                    >4</span
                                                    >
												</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item logout" href="/auth/logout/<%= user.id %>">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>
            </nav>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!--                    alert when add category-->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">Subject</th>
                                <th class="text-center">Message</th>
                                <th class="text-center">Sender</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <% feedbacks.forEach(feedback => { %>
                                <tr class="feedback <%= feedback.id%>">
                                    <td class="text-center subject"><%= feedback.subject %></td>
                                    <td class="text-center"><%= feedback.message %></td>
                                    <td class="text-center name"><%= feedback.sender.name %></td>
                                    <td class="text-center email"><%= feedback.email %></td>
                                    <td class="text-center">
                                        <% if (feedback?.status && feedback.status === 'PENDING') {%>
                                            <span class="badge bg-warning">Pending</span>
                                        <%} else {%>
                                            <span class="badge bg-success">Replied</span>
                                        <%}%>
                                    </td>
                                    <th class="text-center" data-bs-toggle="tooltip" title="Send response">
                                        <button data-bs-toggle="modal" class="btn-send btn btn-sm btn-outline-primary" data-id="<%= feedback.id%>">
                                            <i class="bx bx-send"></i>
                                        </button>
                                    </th>
                                </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                modal-->
                <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Modal title</h5>
                                <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="nameWithTitle" class="form-label">Name</label>
                                        <input
                                                type="text"
                                                id="nameWithTitle"
                                                class="form-control"
                                                placeholder="Enter Name"
                                        />
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col mb-0">
                                        <label for="emailWithTitle" class="form-label">Email</label>
                                        <input
                                                type="text"
                                                id="emailWithTitle"
                                                class="form-control"
                                                placeholder="xxxx@xxx.xx"
                                        />
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col mb-0">
                                        <label for="message" class="form-label">Message</label>
                                        <textarea
                                                class="form-control"
                                                id="message"
                                                rows="3"
                                                placeholder="Enter Your Response"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary btn-save">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-backdrop fade"></div>
            </div>
            <div
                    class="bs-toast toast toast-placement-ex m-2 top-0 end-0"
                    role="alert"
                    aria-live="assertive"
                    aria-atomic="true"
                    data-delay="2000"
            >
                <div class="toast-header">
                    <i class="bx bx-bell me-2"></i>
                    <div class="me-auto fw-semibold">Tea Loza</div>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">Fruitcake chocolate bar tootsie roll gummies gummies jelly beans cake.</div>
            </div>
            <!-- Content wrapper -->
        </div>

        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/lib/jquery/jquery.js"></script>
<script src="/lib/popper/popper.js"></script>
<script src="/lib/bootstrap/bootstrap.js"></script>
<script src="/lib/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/lib/bootstrap/menu.js"></script>
<!-- endbuild -->
<script src="/lib/apex-charts/apexcharts.js"></script>
<!-- Vendors JS -->

<!-- Main JS -->
<script src="/js/admin/main.js"></script>
<script src="/js/utils/auth/logout.js"></script>
<!-- Page JS -->
<script src="/js/utils/auth/dashboards-analytics.js"></script>
<script src="/js/utils/ui/extended-ui-perfect-scrollbar.js"></script>

<script src="/lib/datatables/jquery.dataTables.min.js"></script>
<script src="/lib/datatables/dataTables.bootstrap4.js"></script>
<script src="/lib/datatables/dataTables.buttons.min.js"></script>
<script src="/lib/datatables/dataTables.checkboxes.min.js"></script>
<script src="/lib/datatables/dataTables.keyTable.min.js"></script>
<script src="/lib/datatables/dataTables.responsive.min.js"></script>
<script src="/lib/datatables/dataTables.select.min.js"></script>
<script>
    $(function () {
        $('.btn-send').on('click', function () {
            const id = $(this).data('id')
            const feedback = $(`.feedback.${id}`);

            const name = feedback.find('.name').text();
            const email = feedback.find('.email').text();

            $('#nameWithTitle').val(name);
            $('#emailWithTitle').val(email);
            $('#modalCenterTitle').text(`Send response to ${name}`);
            $('.btn-save').attr('data-id', id);
            $('#modalCenter').modal('show');
        })

        $('.btn-save').on('click', function (e) {
            e.preventDefault();

            const id = $(this).data('id');
            const message = $('#message').val();
            const email = $('#emailWithTitle').val();

            $.ajax({
                url: `/admin/feedbacks/${id}`,
                method: 'POST',
                data: JSON.stringify({
                    message,
                    email
                }),
                contentType: 'application/json',
                success: function (res) {
                    if (res) {
                        $('#modalCenter').modal('hide');
                        $('.toast').find('.toast-body').text('Send response successfully');
                        $('.toast').toast('show');

                        setTimeout(() => {
                            window.location.reload();
                        }, 2000)
                    }
                },
                error: function (err) {
                    console.log(err);
                    $('.toast').find('.toast-body').text('Send response failed');
                    $('.toast').toast('show');
                }
            })
        });
    })
</script>
<!--<script-->
<!--        src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"-->
<!--        integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ=="-->
<!--        crossorigin="anonymous"-->
<!--        referrerpolicy="no-referrer"-->
<!--&gt;</script>-->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
