<!DOCTYPE html>
<html
	lang="en"
	class="light-style customizer-hide"
	dir="ltr"
	data-theme="theme-default"
	data-template="vertical-menu-template-free"
>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
		/>

		<title>Tea Loza</title>

		<meta name="description" content="" />

		<!-- Favicon -->
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
			rel="stylesheet"
		/>

		<!-- Icons. Uncomment required icon fonts -->
		<link rel="stylesheet" href="/lib/fonts/boxicons.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />

		<!-- Core CSS -->
		<link rel="stylesheet" href="/css/core.css" class="template-customizer-core-css" />
		<link rel="stylesheet" href="/css/theme-default.css" class="template-customizer-theme-css" />
		<link rel="stylesheet" href="/css/demo.css" />

		<!-- Vendors CSS -->
		<link rel="stylesheet" href="/lib/perfect-scrollbar/perfect-scrollbar.css" />
		<link rel="stylesheet" href="/css/vendors/buttons.bootstrap4.css" />
		<link rel="stylesheet" href="/css/vendors/dataTables.bootstrap4.css" />
		<link rel="stylesheet" href="/css/vendors/select.bootstrap4.css" />
		<!-- Page CSS -->
		<!-- Page -->
		<link rel="stylesheet" href="/css/pages/page-auth.css" />
		<link rel="stylesheet" href="/css/pages/page-ticket.css" />
		<!--    <link rel="stylesheet" href="/css/icons.min.css">-->
		<!--    <link rel="stylesheet" href="/css/pages/page-datatable.css">-->
		<!-- Helpers -->
		<script src="/js/admin/helpers.js"></script>

		<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
		<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
		<script src="/js/admin/config.js"></script>
	</head>
	<body>
		<!-- BEGIN: Content-->
		<div class="layout-wrapper layout-content-navbar">
			<div class="layout-container">
				<%- include('../../partials/admin/menubar.ejs', { active: 'stories', sub: 'manage-stories' }) %>
				<div class="layout-page">
					<!-- Navbar -->

					<nav
						class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
						id="layout-navbar"
					>
						<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
							<a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
								<i class="bx bx-menu bx-sm"></i>
							</a>
						</div>

						<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
							<!-- Search -->
							<div class="navbar-nav align-items-center">
								<div class="nav-item d-flex align-items-center">
									<i class="bx bx-search fs-4 lh-0"></i>
									<input
										type="text"
										class="form-control border-0 shadow-none"
										placeholder="Search..."
										aria-label="Search..."
									/>
								</div>
							</div>
							<!-- /Search -->

							<ul class="navbar-nav flex-row align-items-center ms-auto">
								<!-- Place this tag where you want the button to render. -->
								<li class="nav-item lh-1 me-3">
									<a
										class="github-button"
										href="https://github.com/themeselection/sneat-html-admin-template-free"
										data-icon="octicon-star"
										data-size="large"
										data-show-count="true"
										aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
										>Star</a
									>
								</li>

								<!-- User -->
								<li class="nav-item navbar-dropdown dropdown-user dropdown">
									<a
										class="nav-link dropdown-toggle hide-arrow"
										href="javascript:void(0);"
										data-bs-toggle="dropdown"
									>
										<div class="avatar avatar-online">
											<img src="<%= user.avatar %>" alt class="w-px-40 h-auto rounded-circle" />
										</div>
									</a>
									<ul class="dropdown-menu dropdown-menu-end">
										<li>
											<a class="dropdown-item" href="#">
												<div class="d-flex">
													<div class="flex-shrink-0 me-3">
														<div class="avatar avatar-online">
															<img
																src="<%= user.avatar %>"
																alt
																class="w-px-40 h-auto rounded-circle"
															/>
														</div>
													</div>
													<div class="flex-grow-1">
														<span class="fw-semibold d-block"
															><%= user.name || user.email %></span
														>
														<small class="text-muted"><%= user.role %></small>
													</div>
												</div>
											</a>
										</li>
										<li>
											<div class="dropdown-divider"></div>
										</li>
										<li>
											<a class="dropdown-item" href="#">
												<i class="bx bx-user me-2"></i>
												<span class="align-middle">My Profile</span>
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">
												<i class="bx bx-cog me-2"></i>
												<span class="align-middle">Settings</span>
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">
												<span class="d-flex align-items-center align-middle">
													<i class="flex-shrink-0 bx bx-credit-card me-2"></i>
													<span class="flex-grow-1 align-middle">Billing</span>
													<span
														class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20"
														>4</span
													>
												</span>
											</a>
										</li>
										<li>
											<div class="dropdown-divider"></div>
										</li>
										<li>
											<a class="dropdown-item logout" href="/auth/logout/<%= user.id %>">
												<i class="bx bx-power-off me-2"></i>
												<span class="align-middle">Log Out</span>
											</a>
										</li>
									</ul>
								</li>
								<!--/ User -->
							</ul>
						</div>
					</nav>

					<!-- / Navbar -->

					<!-- Content wrapper -->
					<div class="content-wrapper">
						<div class="container-xxl flex-grow-1 container-p-y">
							<div class="row my-3 d-flex justify-content-between">
								<div class="col">
									<div class="input-group">
										<button
											class="btn btn-outline-primary"
											data-bs-toggle="modal"
											data-bs-target="#tagFormList"
											type="button"
											id="button-addon1"
										>
											Filter Tags
										</button>
										<input
											name="name"
											type="text"
											class="form-control tag-name"
											placeholder="New tag name"
											aria-label="New tag name"
											aria-describedby="button-addon2"
											required
										/>
										<button
											class="btn btn-outline-primary btn-add-tag"
											type="button"
											id="button-addon2"
										>
											Add Tag
										</button>
									</div>
									<div id="tag-alert" class="form-text"></div>
								</div>
								<div class="col-auto d-flex justify-content-end">
									<button type="button" class="btn btn-primary" style="height: fit-content">
										<a href="/admin/stories/create" style="color: white">Add New Story</a>
									</button>
								</div>
							</div>
							<div class="row stories">
								<% if(!stories.length) { %>
								<div class="col-12">
									<div class="card mb-4">
										<div class="card-body">
											<div class="text-center">
												<h4 class="mb-4">No stories found</h4>
												<a href="/admin/stories/create" class="btn btn-primary"
													>Create a story</a
												>
											</div>
										</div>
									</div>
								</div>
								<% } else { %> <% stories.forEach( story => { %>
								<div class="col-md-6 col-lg-4">
									<div class="card mb-3" data-id-story="<%= story.id %>">
										<div class="card-body">
											<h5 class="card-title"><%= story.title %></h5>
											<p
												class="card-text"
												style="
													overflow: hidden;
													display: -webkit-box;
													-webkit-line-clamp: 2; /* number of lines to show */
													line-clamp: 2;
													-webkit-box-orient: vertical;
												"
											>
												<%= story.sortDescription %>
											</p>
											<a href="javascript:void(0)" class="btn btn-primary btn-story-detail">Details</a>
										</div>
									</div>
								</div>
								<% }) %> <% } %>
							</div>
						</div>
						<div class="content-backdrop fade"></div>
					</div>
					<!-- Content wrapper -->
				</div>
				<!-- / Layout page -->
			</div>

			<!-- Modal -->
			<form id="tag-list">
				<div class="modal fade" id="tagFormList" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="modalCenterTitle">Filter Tags</h5>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="modal"
									aria-label="Close"
								></button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col mb-3">
										<div class="input-group">
											<input
												type="text"
												class="form-control"
												placeholder="Enter tag name"
												aria-label="Enter tag name"
												aria-describedby="button-addon2"
											/>
											<button class="btn btn-outline-primary" type="button" id="button-addon2">
												Search
											</button>
										</div>
									</div>
								</div>
								<h5 class="modal-title" id="modalCenterTitle">Tags</h5>

								<div class="row px-2 tags d-flex">
									<% if(!tags.length) { %>
									<div class="col-12">
										<div class="card mb-4" data-id="<%= tag.id %>">
											<div class="card-body">
												<div class="text-center">
													<h4 class="mb-4">No tags found</h4>
													<a href="/admin/stories/create" class="btn btn-primary"
														>Create a tag</a
													>
												</div>

											</div>
										</div>
									</div>
									<% } else { %> <% tags.forEach( tag => { %>
									<div class="col-auto my-1 px-1">
										<button type="button" class="btn btn-outline-dark"><%= tag.name %></button>
									</div>
									<% }) %> <% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

			<!-- Overlay -->
			<div class="layout-overlay layout-menu-toggle"></div>
		</div>

		<!-- Core JS -->
		<!-- build:js assets/vendor/js/core.js -->
		<script src="/lib/jquery/jquery.js"></script>
		<script src="/lib/popper/popper.js"></script>
		<script src="/lib/bootstrap/bootstrap.js"></script>
		<script src="/lib/perfect-scrollbar/perfect-scrollbar.js"></script>

		<script src="/lib/bootstrap/menu.js"></script>
		<!-- endbuild -->
		<script src="/lib/apex-charts/apexcharts.js"></script>
		<!-- Vendors JS -->

		<!-- Main JS -->
		<script src="/js/admin/main.js"></script>
		<script src="/js/utils/auth/logout.js"></script>

		<!-- Page JS -->
		<script src="/js/utils/auth/dashboards-analytics.js"></script>
		<script src="/js/utils/ui/extended-ui-perfect-scrollbar.js"></script>

		<script src="/lib/datatables/jquery.dataTables.min.js"></script>
		<script src="/lib/datatables/dataTables.bootstrap4.js"></script>
		<script src="/lib/datatables/dataTables.buttons.min.js"></script>
		<script src="/lib/datatables/dataTables.checkboxes.min.js"></script>
		<script src="/lib/datatables/dataTables.keyTable.min.js"></script>
		<script src="/lib/datatables/dataTables.responsive.min.js"></script>
		<script src="/lib/datatables/dataTables.select.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
			integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>

		<!-- Place this tag in your head or just before your close body tag. -->
		<script async defer src="https://buttons.github.io/buttons.js"></script>

		<script>
			$(document).ready(function () {
				const btnAddTag = $(".btn-add-tag");
				const tagAlert = $("#tag-alert");
				const tags = $(".tags");

				console.log(tagAlert);
				btnAddTag.click(function () {
					let tagName = $(".tag-name").val();
					if (!tagName) {
						tagAlert.text("Tag name is required");
					}

					$.ajax({
						url: "/admin/stories/create-tag",
						method: "POST",
						data: {
							name: tagName,
						},
						success: function (data) {
							console.log(data);
							tagAlert.html(`<p class="text-success mb-1">Add tag successfully</p>`);
							hideAlert();
							$(".tag-name").val("");

							tags.append(
								`<div class="col-auto my-1 px-1">
									<button type="button" class="btn btn-outline-dark">${tagName}</button>
								</div>`
							);
						},
						error: function (err) {
							console.log(err.responseJSON);
							tagAlert.html(`<p class="text-danger mb-1">${err.responseJSON.message}</p>`);
							hideAlert();
						},
					});
				});


				$(".btn-story-detail").click(function () {
					const id = $(this).parents(".card").data("id-story");
					window.location.href = `/admin/stories/${id}`;
				});
			});

			function hideAlert() {
				setTimeout(() => {
					$("#tag-alert").html("");
				}, 4000);
			}
		</script>
	</body>
</html>
